* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* LAYOUT  */

.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  background: #f4f6fa;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: linear-gradient(180deg, #0f172a, #1e293b);
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #334155;
}

.logout {
  margin-top: 30px;
  background: #dc2626;
}
.logout:hover {
  background: #22c55e;
}
/* MAIN CONTENT  */
.main-content {
  flex: 1;
  width: calc(100vw - 230px); /* sidebar width */
  display: flex;
  flex-direction: column;
}

/*  TOP BAR  */
.topbar {
  background: #fff;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.topbar h3 {
  color: #0f172a;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-info img {
  border-radius: 50%;
}

/*  PAGE CONTENT  */
.page-content {
  padding: 30px;
  width: 100%;
}

/*  DASHBOARD CARDS  */
.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

/*  TABLE  */
table {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 14px;
  text-align: left;
}

th {
  background: #f1f5f9;
  color: #0f172a;
}

tr:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

/*  BUTTONS  */
button {
  padding: 7px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}

button:first-child {
  background: #22c55e;
  color: #fff;
}

button:last-child {
  background: #ef4444;
  color: #fff;
}

/*  MODAL  */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
  color: #475569;
}

.modal button {
  background: #2563eb;
  color: #fff;
  width: 100%;
}
.table-card {
  background: white;
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f8fafc;
  font-weight: 600;
}

th,
td {
  padding: 14px 18px;
  text-align: left;
}

tr {
  border-bottom: 1px solid #e5e7eb;
}
.actions button {
  margin-right: 8px;
}
h2 img {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}
.admin-image {
  height: 20px;
  width: 30px;
}