* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #020b14;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.auth-container {
  width: 700px;
  height: 500px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;

}

/* Left */
.auth-left {
  width: 45%;
  background: #03121f;
  padding: 50px 40px;
  color: white;
}

.auth-left h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.auth-left input,
.auth-left select {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #f9731a;
  padding: 10px 0;
  margin-bottom: 25px;
  color: white;
  outline: none;
}

.auth-left select option {
  background: #03121f;
}

.auth-left input::placeholder {
  color: #9fbcbc;
}

.auth-left button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #f9731a, #f9731a);
  color: #022b30;
  font-weight: bold;
  cursor: pointer;
}

.auth-left button:hover {
  box-shadow: 0 0 15px #f9731a;
}

.auth-left p {
  margin-top: 15px;
  font-size: 13px;
}

.auth-left a {
  color: #f9731a;
  text-decoration: none;
}

/* Right */
.auth-right {
  width: 55%;
  background: linear-gradient(135deg, #f9731a, #f9731a);
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 40px;
}

.auth-right h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #dbeafe, #e0e7ff);
}

.auth-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #dbeafe, #e0e7ff);
}

.auth-card {
  background: #fff;
  width: 360px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.auth-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #4f46e5;
}

.auth-subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 20px;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #c7d2fe;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.auth-input:focus {
  border-color: #4f46e5;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background-color: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #4338ca;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #6b7280;
}

.auth-footer a {
  color: #4f46e5;
  font-weight: 600;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
} */
